<!-- 템플릿 상속-->
{% extends 'base.html' %}

<!-- Read : 개별 게시글 조회 -->
{% block content %}
  <h1 class="text-center">Notice Edit Page</h1><hr>
  <!-- 수정한 데이터를 update으로 전달 -->
  <form action="{% url 'notices:update' notice.pk %}" method="POST">
    {% csrf_token %}
    <label for="title">제목: </label>
    <input type="text" name="title" value="{{ notice.title }}"><br>
    <label for="content">내용: </label>
    <textarea name="content" cols="30" rows="10">{{ notice.content }}</textarea>
    <input type="submit">
  </form>
  <!-- Read : 전체 게시글 조회 페이지 이동 버튼 -->
  <a href="{% url 'notices:index' %}">[back]</a>
{% endblock content %}