<!-- 템플릿 상속 -->
{% extends 'base.html' %}

<!-- Create : 게시글 생성 -->
{% block content %}
  <h1 class = "text-center"> Notice New Page</h1>
  <hr>
  <!-- 입력 받은 데이터를 create로 전달 -->
  <form action="{% url 'notices:create' %}" method="POST">
    <!-- csrf 공격 방어 -->
    {% csrf_token %}
    <label for="title">제목: </label>
    <input type="text" name="title"><br>
    <label for="content">내용: </label>
    <textarea name="content" cols="30" rows="10"></textarea><br>
    <input type="submit">
  </form>
  <hr>
  <!-- Read : 전체 게시글 조회 페이지 이동 버튼 -->
  <a href="{% url 'notices:index' %}">[back]</a>
{% endblock content %}

